@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
  background-color: #ffffff;
  width: 30vh;
  height: 50vh;
  margin: auto;
  border-radius: 3vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-background {
  background-color: green;
  height: 100%;
  width: 100%;
  margin: 0px;
  display: flex;
  position: fixed;
}
.card-header {
  padding-top: 0px;
  margin-bottom: 130%;
  margin-right: 70%;
  position: absolute;
  background-color: transparent;
  border-bottom: none;
}
.card-content {
  font-size: 100px;
}

.card-footer {
  padding-bottom: 0px;
  margin-top: 130%;
  margin-left: 70%;
  position: absolute;
  background-color: transparent;
  border-top: none;
}

.top-icon {
  font-size: 3rem;
}

.bottom-icon {
  transform: scaleY(-1);
  font-size: 3rem;
}
